.wd200{width: 200px;}
.wd350{width: 350px;}
.wd500{width: 500px;}
.wd800{width: 800px;}
.wd900{width: 900px;}
.wd1000{width: 940px;}
.rel{position: relative;}
.m0a{margin:  0 auto;}
.testbg{background-color: blue;}
.fr{float: right;}
.fl{float: left;}
.f12{font-size: 12px;}
.f32{font-size: 32px;}
.lh200{line-height: 200%;}
.ht32{height: 32px;}
.right-bar{position: fixed; display: none; right: 0; padding: 10px; z-index: 999; top: 0; background: #FFFFFF; height: 100%;}
.tc{text-align: center;}
